{# templates/macros.html #}
{# Render file form.

Arguments:
    - subform: Form object to render
    - index: Index of the form. For proper subforms rendered in the form loop,
             this should match `loop.index0`, and for the template it should be
             '_'
#}
{%- macro render_file_form(subform, index) %}
    <div id="file-{{ index }}-form" class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}">
        <div>
            {{ subform.folder_name.label }}
            {{ subform.folder_name }}
        </div>
        <div>
            {{ subform.file_name.label }}
            {{ subform.file_name }}
        </div>

        <a class="remove" href="#">Remove</a>
        <hr/>
    </div>
{%- endmacro %}
